body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.subscriber{
    height: 200px;
    padding-bottom: 50px;
}
.top-banner{
    
    text-align: left;
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.third-width{
    width:20%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.third-width img{
    width: 100%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}

.half-width img{
    width: 50%;
}
.recipies
{
    margin: auto;
    width: 50%;
    text-align: center;
  
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   }
#logo {
float: right;
}
h2{
    font-size: 40px;
}

.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    background-color: black;
}
footer p{
    text-align: center;
}
footer h1{
    color: orange;
    text-align: center;
}